[submodule "common"]
	path = common
	url = git@github.com:s4kai/ddd-common-lib.git
	branch = main

[submodule "infrastructure"]
	path = infrastructure
	url = git@github.com:s4kai/ddd-infrasctructure-lib.git
    branch = main

[submodule "mdm"]
	path = mdm
	url = git@github.com:s4kai/erp-mdm-module.git
	branch = main
